html, body{
   margin: 0px;
   padding: 0px;
   outline: 0px;
   height: 100%;
}
.fids{
    /*background-image: url("../../app/images/plane.jpg");*/
    background-image: url("../../app/images/ravinala-logo-01.jpg");
    /*background-color: #292b2c;*/
    background-color: #0d12c3;
    /*width: 100%;
    height: 100%;*/
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.header {
    background: #74c8ee;
    align-items: center;
    align-content: center;
}
.content_list{
    padding-left: 528px;
    padding-top: 200px;
}
.content_list ul li .iko_international_depart{
    height: 50px;
    width: 50px;
    background: url("../../app/images/depart.gif");
    display: inline-block;
}
.content_list ul li .iko_international_arrival{
    height: 50px;
    width: 50px;
    background: url("../../app/images/arrival.jpg");
    display: inline-block;
}
.national_arrival{
    
}
.airport_nav{
    /*background-color: #3871AD;*/
    height: 75px;
    position: relative;
}
.airport_nav .info{
    color: #FFFFFF;
    font-size: 12px;
    height: 20px;
    width: 175px;
    position: absolute;
    left: 100px;
    top: 33px;
}
.airport_nav .logo_{
    padding-left: 40px;
    /*padding-top: 15px;*/
}
.logo_ img{
    /*width: 50px;
    height: 50px;*/
}
.airport_nav .day_name{
    right: 110px;
    top: 12px;
    color: #FFFFFF;
    position: absolute;
    font-size: 26px;
}
.airport_nav .current_date{
    right: 110px;
    top: 45px;
    color: #FFFFFF;
    position: absolute;
}
.airport_nav .current_time{
    right: 40px;
    top: 24px;
    color: #FFFFFF;
    position: absolute;
    font-size: 26px;
    border: 1px;
    border-style: solid;
}
.display_content{
    /*background-color: #393B3D;*/
    background-color: #0d12c3;
    color: #FFFFFF;
    height: 100%;
    padding-left: 40px;
}
.departures{
    font-size: 31px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.flight_col{
    display: inline-block;
    width: 250px;
    font-size: 18px;
}
.checkin_col{
    display: inline-block;
    width: 200px;
    font-size: 18px;
}
.border_raw{
    height: 0px;
    color: #FFFFFF;
    border: 2px;
    border-style: solid;
}
.border_final_raw{
    height: 0px;
    color: #75808B;
    border: 1px;
    border-style: solid;
}
.head_tabs{
    font-size: 24px;
    text-align: center;
}
.content_tabs{
    font-size: 35px;
    text-align: center;
}
span.content_status_tabs{
    font-size: 35px;
}
div#time{
    font-size: 26px;
}

/* CUSTOM CSS */

/* CHECKING BY + PORTE BY */
span.num_comptoir {
    font-size: 75px;
    color: #36E8F5;
    font-weight: bold;
}

img.logo-by {
    width: 50%;
    height: 120px;
    padding: 0 0;
}

div.label_hour {
    font-size: 30px;
    /*color: #FBF479;*/
    color: yellow;
    font-weight: bold;
}

span.hour-content-custom {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}

span.num-porte-custom {
    font-size: 35px;
    color: #363636;
    font-weight: bold;
    /*background-color: #FBF479;*/
    background-color: yellow;
    padding: 5px 20px;
}

div.container-nom_vol {
    float: left;
    vertical-align: middle;
    margin-top: 50px;
}

div.nom-vol-custom {
    font-size: 150px;
    color: #36E8F5;
    font-weight: bold;
}

div.destination-custom {
    color: #fff;
    font-weight: bold;
    font-size: 150px;
    vertical-align: middle;
    margin-top: 50px;
}

div.status-check-custom {
    position: fixed;
    bottom: 0;
    background-color: #3D414D;
    padding: 0 0;
}

div.status-content-custom {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}